<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://accounts.google.com/gsi/client" async></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.167.1/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.167.1/examples/jsm/"
          }
        }
      </script>
</head>

<body>
    <div id="menu-bar">
        <div id="menu-options">
            <div id="menu-toggle" class="menu-button">
                Menu
            </div>
            <div id="dropdown-menu">
                <div class="menu-button">
                    Profile
                </div>
                <div class="menu-button">
                    Settings
                </div>
                <div class="menu-button">
                    Trip
                </div>
                <div class="menu-button">
                    Logout
                </div>
            </div>
        </div>
    </div>
    <div id="friends-bar">
        <div id="fb-title">Friends</div>
        <div class="friend-entry">
            <div class="friend-icon">

            </div>
            <div class="friend-name">
                Bob 
            </div>
        </div>
        <div class="friend-entry">
            <div class="friend-icon">

            </div>
            <div class="friend-name">
                Rob 
            </div>
        </div>
        <div class="friend-entry">
            <div class="friend-icon">

            </div>
            <div class="friend-name">
                Pob 
            </div>
        </div>
    </div>
    <div id="tjs-container">

    </div>
    <script type="module" src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>

</html>