#tjs-container {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

#menu-bar {
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

#menu-options {
    margin: 40px 20px;
}

.menu-button {
    color: white;
    font-size: xx-large;
    padding: 12px 10px;
    display: inline-block;
    margin-right: auto;
    line-height: 14px;
}

.menu-button:after {
    content: "";
    width: 1%;
    height: 2px;
    background-color: white;
    display: inline-block;
    border-radius: 1px;
    transition: all 0.2s linear;
    opacity: 0;
}

.menu-button:hover:after {
    width: 100%;
    opacity: 1;
}


#menu-toggle {
    
}

#dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#friends-bar {
    position: absolute;
    left: 0;
    top: 0;
    margin: 20vh 10vh;
    height: 60vh;
    width: 40vh;
    border: 3px solid white;
    border-radius: 2vh;
    z-index: 3;
}

#fb-title {
    margin-top: 2vh;
    width: 100%;
    color: white;
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

.friend-entry {
    height: 8vh;
    width: 100%;
    margin: 2vh 4vh;
    display: flex;
}

.friend-icon {
    width: 4vh;
    height: 4vh;
    border: 0.5vh white solid;
    border-radius: 50%;
    margin-right: 2vh;
}

.friend-name {
    padding: 1vh;
    width: 80%;
    color: white;
    font-size: x-large;
}

.friend-entry:nth-child(3n) .friend-icon{
    background-color: red;
}

.friend-entry:nth-child(3n+1) .friend-icon{
    background-color: green;
}

.friend-entry:nth-child(3n+2) .friend-icon{
    background-color: blue;
}